{% extends 'base.html' %}

{% block content %}
  <h1 class="custom-40px-padding-bottom">Welcome to Skincare Service!</h1>

  <p class="custom-30px-padding-bottom">This platform is exclusively designed for our community of skincare enthusiasts. Access to our content, recommendations, and features is reserved for registered members only.</p>

  <h3 class="custom-30px-padding-bottom">Already a Member?</h3>
  <p class="custom-30px-padding-bottom">If you've already joined our community, please log in to continue exploring the myriad of skincare insights and tips we have curated just for you.</p>

  <h3 class="custom-30px-padding-bottom">Interested in Joining?</h3>
  <p class="custom-30px-padding-bottom">We value the privacy and exclusivity of our community. If you're passionate about skincare and wish to be part of our growing family, please reach out to our team for an invitation.</p>

  <p class="custom-30px-padding-bottom">Thank you for understanding and respecting the exclusivity of our platform.</p>
{% endblock %}
