<nav class="custom-nav">
  <a class="custom-logo" href="{% url 'cosmetics:index' %}">SkinCo</a>
  <div>
    <ul class="custom-nav-list">
      <li><a class="custom-nav-link {% if request.path == '/' %}custom-nav-active{% endif %}" href="{% url 'cosmetics:index' %}">Home</a></li>
      <li><a class="custom-nav-link" href="#">Brands</a></li>
      <li><a class="custom-nav-link" href="#">Products</a></li>
      <li><a class="custom-nav-link" href="#">Skin Types</a></li>
      <li><a class="custom-nav-link" href="#">Members</a></li>
    </ul>
  </div>
  <div>
    <ul class="custom-nav-list">
      {% if user.is_authenticated %}
        <li>
          <a class="custom-nav-link custom-nav-active" href="#">
            <img class="custom-user-icon" src="/static/icons/user.svg" alt="user icon">
            {{ user.username }}
          </a>
        </li>
        <li>
          <a class="custom-nav-link" href="{% url 'logout'%}?next={{ requested.path}}">
            Logout
            <img class="custom-login-logout-icon" src="/static/icons/logout.svg" alt="logout icon">
          </a>
        </li>
      {% else %}
        <li>
          <a class="custom-nav-link" href="{% url 'login'%}?next={{ requested.path }}">
            Login
            <img class="custom-login-logout-icon" src="/static/icons/login.svg" alt="login icon">
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
